<app-modify-content-component (newContentAdded)="onNewContentAdded($event)"></app-modify-content-component>

<!-- <app-create-content (newContentAdded)="onNewContentAdded($event)"></app-create-content> -->

<div>
  <app-content-card *ngFor="let item of myList as i first as isFirst" [content]="item" [class.is-first]="isFirst" >class="outdoor">
  </app-content-card>

<!--  <input ngModel="name"> {{ type | uppercase}}-->

</div>







<!--<h1>Outdoor</h1>-->
<!--<div style="display: flex; justify-content: space-around; flex-wrap: wrap">-->
<!--  <app-content-card *ngFor="let item of myList| filterarray:'outdoor'; first as isFirst" [content]="item" [class.is-first]="isFirst" class="outdoor"></app-content-card>-->

<!--</div>-->

<!--<h1>Indoor</h1>-->
<!--<div style="display: flex; justify-content: space-around; flex-wrap: wrap">-->
<!--  <app-content-card *ngFor="let item of myList| filterarray:'indoor'; first as isFirst" [content]="item" [class.is-first]="isFirst" class="indoor"></app-content-card>-->
<!--</div>-->

<!--<h1>no type</h1>-->
<!--<div style="display: flex; justify-content: space-around; flex-wrap: wrap">-->
<!--  <app-content-card *ngFor="let item of myList| filterarray:'notype'; first as isFirst" [content]="item" [class.is-first]="isFirst" class="notype"></app-content-card>-->
<!--</div>-->






