<!--<div class="card">-->
<!--  <p>Content card</p>-->
<!--  <p>ID: {{content?.id}}</p>-->
<!-- <p>Title: {{content?.title}}</p>-->
<!--  <p>Type: {{content?.type}}</p>-->
<!-- <p>Description: {{content?.description}}</p>-->
<!-- <img (click)="clickPhoto(content?.id, content?.title)" src="{{content?.imgURL}}" />-->
<!--</div>-->

<!--<div class="'card">-->
<!--&lt;!&ndash;  <p>Content card</p>&ndash;&gt;-->
<!--  <p>Title: {{content?.title}}</p>-->
<!--  <p>Description: {{content?.description}}</p>-->
<!--  <p>imgURL:{{content?.imgURL}}</p>-->
<!--  <p>Title: {{content?.title}}</p>-->
<!--</div>-->




<div class = "card">
  <div class="card-body">
    <h1 class ="card-title">ID: {{content?.id}}</h1>
    <h1 class ="card-title">Title: {{content?.title}}</h1>
    <h2 class="card-text">Description: {{content?.description}}</h2>
    <p class="card-text" appHoverAffect>Tags: {{content?.tags}}</p>
    <img *ngIf="content?.imgURL; else defaultImage" class="card-img" [src]="content?.imgURL">
    <h3 class="card-text" appHoverAffect>Type: {{content?.type}}</h3>


</div>
  <ng-template #defaultImage>
  <img class="card-img" src="/assets/defaultImage.jpeg" />
  </ng-template>
</div>

<hr>


<!--<div class="content-card">&ndash;&gt;-->
<!--  <h2 Hover-Affect="type">Card Title</h2>-->
<!--  <ul>-->
<!--    <li *ngFor="let tag of tags" Hover-Affect="tag">{{ tag }}</li>-->
<!--  </ul>-->
<!--  <p>{{ content }}</p>-->
<!--</div>-->

<!--<div *ngFor="let tag of tags"-->
<!--     [ngStyle]="{ 'font-weight': tag.hover ? 'bold' : 'normal' }"-->
<!--     (mouseover)="tag.hover = true"-->
<!--     (mouseout)="tag.hover = false">-->
<!--  {{ tag.name }}-->
<!--</div>-->














